<div class="container">
    <h2>Doctor Details</h2>
    
    <table class="table table-dark">
      
    
        <tr>
            <th>Doctor Name</th>
            <td>{{doctorDetails.clinic_name}}</td>
        </tr>

        <tr>
            <th>License Number</th>
            <td>{{doctorDetails.license_number}}</td>
        </tr>

        <tr>
            <th>Established Date</th>
            <td>{{doctorDetails.established_date | date}}</td>
        </tr>

        <tr>
            <th>Doctor Name</th>
            <td>{{doctorDetails.doctor_name}}</td>
        </tr>
          
        <tr>
            <th>Qualification</th>
            <td>{{doctorDetails.qualification}}</td>
        </tr>

        <tr>
            <th>Gender</th>
            <td>{{doctorDetails.gender}}</td>
        </tr>

        <tr>
            <th>Age</th>
            <td>{{doctorDetails.age}}</td>
        </tr>

        <tr>
            <th>Date of Birth</th>
            <td>{{doctorDetails.dob | date}}</td>
        </tr>

        <tr>
            <th>Emergency Contact Number</th>
            <td>{{doctorDetails.emergency_contact_number}}</td>
        </tr>

        <tr>
            <th>Email Address</th>
            <td>{{doctorDetails.email}}</td>
        </tr>
   
        <tr>
            <th>Street</th>
            <td>{{doctorDetails.street}}</td>
        </tr>
   
        <tr>
            <th>City</th>
            <td>{{doctorDetails.city}}</td>
        </tr>
   
        <tr>
            <th>State</th>
            <td>{{doctorDetails.state}}</td>
        </tr>
   
        <tr>
            <th>Pincode</th>
            <td>{{doctorDetails.pincode}}</td>
        </tr>
   
        <tr>
            <th>Landmark</th>
            <td>{{doctorDetails.landmark}}</td>
        </tr>
   
      
   
    </table>


 
</div>