<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <h1 class="h3 mb-3 font-weight-bold">Add New Laboratory</h1>
          <hr>
          <h2 class="h5 mb-3 font-weight-normal">Basic Information</h2>
            
          <!-- Laboratory Name-->
           
          <div class="form-group">
            <label for="laboratory_name">Laboratory Name</label>
            <input type="text" class="form-control" minlength="2" maxlength="30"
            formControlName="laboratory_name" [class.is-invalid]="registrationForm.get('laboratory_name').invalid && registrationForm.get('laboratory_name').touched" 
            placeholder="Enter Laboratory Name" >
              <small [class.d-none]="registrationForm.get('laboratory_name').valid || registrationForm.get('laboratory_name').untouched" class="text-danger"> Laboratory Name is required </small>
          </div>

             
          <!-- Owner Name-->
           
          <div class="form-group">
            <label for="owner_name">Owner Name</label>
            <input type="text" class="form-control" minlength="2" maxlength="30"
            formControlName="owner_name" [class.is-invalid]="registrationForm.get('owner_name').invalid && registrationForm.get('owner_name').touched" 
            placeholder="Enter Owner Name" >
              <small [class.d-none]="registrationForm.get('owner_name').valid || registrationForm.get('owner_name').untouched" class="text-danger"> Owner Name is required </small>
          </div>

        
             <!-- License NUMBER -->
            
            <div class="form-group">
              <label for="license_number">License Number</label>
              <input type="text"  [class.is-invalid]="registrationForm.get('license_number').invalid &&
                                registrationForm.get('license_number').touched" class="form-control"
                                  formControlName="license_number"
                                  placeholder="Enter your License Number" >

              <small [class.d-none]="registrationForm.get('license_number').valid ||
                                      registrationForm.get('license_number').untouched"
                                      class="text-danger">License Number is required </small>
            </div>


            <!-- Established Date -->
            <div class="form-group">
              <label for="established_date">Established Date</label>
              <input type="date" [class.is-invalid]="registrationForm.get('established_date').invalid &&
                registrationForm.get('established_date').touched" 
                 class="form-control" max="maxDate" formControlName="established_date">
                  <small class="text-danger" [class.d-none]="!registrationForm.get('established_date').errors?.greaterDate ||
                  registrationForm.get('established_date').untouched">Date should not be greater than today</small>
                 <small [class.d-none]="!registrationForm.get('established_date').errors?.required ||
              registrationForm.get('established_date').untouched"
              class="text-danger">Established Date is required </small>
            </div>



    
              <!-- EMAIL -->
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" [class.is-invalid]="registrationForm.get('email').invalid &&
              registrationForm.get('email').touched" class="form-control"
              formControlName="email" placeholder="Enter email" autocomplete="off">

              <small [class.d-none]="registrationForm.get('email').valid ||
              registrationForm.get('email').untouched"
              class="text-danger"> Email is required </small>
            </div>

             <!-- Password -->
             <div class="form-group">
              <label for="password">Password</label>
              <input type="password"  minlength="8" 
              maxlength="32"[class.is-invalid]="registrationForm.get('password').invalid &&
              registrationForm.get('password').touched"
              class="form-control"  data-toggle="tooltip" data-trigger="click hover focus" title="Password should contain atleast one&#013;capital letter&#013;small letter&#013;number&#013;one special character"  placeholder="Password" formControlName="password">

              <small [class.d-none]="registrationForm.get('password').valid ||
              registrationForm.get('password').untouched"
              class="text-danger"> Password is required </small>
            </div>

    
            <!-- LABORATORY ADDRESS -->
            <h3 class="h5 mb-3 font-weight-normal">Laboratory Address</h3>
            <hr>
              <!-- ADDRESS STREET -->
          
            <div class="form-group">
              <label for="street">Street</label>
              <input type="text" minlength="5" 
              maxlength="50"[class.is-invalid]="registrationForm.get('street').invalid &&
                                registrationForm.get('street').touched" class="form-control"
                                  formControlName="street"
                                  placeholder="Enter your street" >
              <small [class.d-none]="registrationForm.get('street').valid ||
                                      registrationForm.get('street').untouched"
                                      class="text-danger"> Street is required </small>
            </div>


            
              <!-- ADDRESS CITY -->

            <div class="form-group">
              <label for="city">City</label>
              <input type="text"  minlength="2" 
              maxlength="25"[class.is-invalid]="registrationForm.get('city').invalid &&
                                registrationForm.get('city').touched" class="form-control"
                                  formControlName="city"
                                  placeholder="Enter your city" >
              <small [class.d-none]="registrationForm.get('city').valid ||
                                      registrationForm.get('city').untouched"
                                      class="text-danger"> City is required </small>
            </div>

            <!-- ADDRESS LANDMARK -->

          <div class="form-group">
            <label for="landmark">Landmark</label>
            <input type="text"  minlength="2" 
            maxlength="20"[class.is-invalid]="registrationForm.get('landmark').invalid &&
                              registrationForm.get('landmark').touched" class="form-control"
                                formControlName="landmark"
                                placeholder="Enter your landmark" >
            <small [class.d-none]="registrationForm.get('landmark').valid ||
                                    registrationForm.get('landmark').untouched"
                                    class="text-danger"> Landmark is required </small>
          </div>

          <!-- ADDRESS STATE -->
          <div class="form-group">
            <label for="state">State</label>
            <select formControlName="state"  [class.is-invalid]="registrationForm.get('state').invalid &&
            registrationForm.get('state').touched"
            class="form-control">
                <option disabled>Select State</option>
                <option *ngFor="let addressState of state_list">{{addressState}}</option>
            </select>

            <small [class.d-none]="registrationForm.get('state').valid ||
            registrationForm.get('state').untouched"
            class="text-danger"> State is required </small>
          </div>

            
              <!-- ADDRESS PINCODE -->
          
            <div class="form-group">
              <label for="pincode">Pincode</label>
              <input type="number"  minlength="6" 
              maxlength="6" [class.is-invalid]="registrationForm.get('pincode').invalid &&
                                registrationForm.get('pincode').touched" class="form-control"
                                  formControlName="pincode"
                                  placeholder="Enter your last name" >
              <small [class.d-none]="registrationForm.get('pincode').valid ||
                                      registrationForm.get('pincode').untouched"
                                      class="text-danger"> Pincode is required </small>
            </div>
          
            <!-- Contact number -->
            <div class="form-group">
              <label for="contact_number">Contact Number</label>
              <input type="number"   minlength="10" 
              maxlength="10"[class.is-invalid]="registrationForm.get('contact_number').invalid &&
              registrationForm.get('contact_number').touched"
               class="form-control" placeholder="Contact Number" formControlName="contact_number" >

               <small [class.d-none]="registrationForm.get('contact_number').valid ||
              registrationForm.get('contact_number').untouched"
              class="text-danger"> Contact Number is required </small>
            </div>


            <!-- Emergency Contact Number -->
            <div class="form-group">
              <label for="emergency_contact_number">Emergency Contact Number</label>
              <input type="number"  minlength="10" 
              maxlength="10"[class.is-invalid]="registrationForm.get('emergency_contact_number').invalid &&
              registrationForm.get('emergency_contact_number').touched"
               class="form-control" placeholder="Enter emergency contact number" formControlName="emergency_contact_number" >

              <small [class.d-none]="registrationForm.get('emergency_contact_number').valid ||
              registrationForm.get('emergency_contact_number').untouched"
              class="text-danger"> Emergency Contact Number is required </small>
            </div>
            


              <!-- Laboratory Document -->
              <div class="form-group">
                <label for="laboratory_document">Laboratory Document</label>
                    <div class="custom-file">
                    <label for="laboratory_document" class="custom-file-label">Laboratory Document </label>
                    <input type="file" class="custom-file-input"
                      [class.is-invalid]="registrationForm.get('laboratory_document').invalid &&
                    registrationForm.get('laboratory_document').touched" (change)="selectFile($event)" accept=".pdf"> 

                    <small [class.d-none]="registrationForm.get('laboratory_document').valid ||
                    registrationForm.get('laboratory_document').untouched"
                    class="text-danger"> Laboratory Document is required </small>
              </div>
            </div>

          <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!registrationForm.valid">Add Laboratory</button>
        </form>
      </div>
    </div>
  </div>