<div class="container">
    <h2>List of Doctors</h2>
    <button type="button" class="btn btn-success" (click)="NewDoctor()">New Doctor</button>
    <br>
    <br>
    <div class="search-users">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Search for any Doctor by name ">
        <br>
    </div>
<table class="table table-dark table-hover">
    <tbody>
    <tr *ngFor="let doctor of doctors | filter:searchText">
        <!-- <td class="text-left"> -->
            <!-- <a > -->
            <!-- <a (click)="edit(user)"> --> 
                
         <td [routerLink]="['/admin/doctor/details',doctor._id]"> {{doctor.first_name}}  {{doctor.last_name}}</td>
                  
                <!-- <input *ngIf="user==editUser" [(ngModel)]="user.name" (blur)="update(user)" (keyup.enter)="update(user)"> -->
            <!-- </a> -->
        <!-- </td> -->
    </tr>
</tbody> 
</table> 
</div>