<div class="container">
    <h2>List of Medical Stores</h2>
    <button type="button" class="btn btn-success" (click)="NewMedicalStore()">New Medical Store</button>
    <br>
    <br>
    <div class="search-users">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Search for any Medical Store by name ">
        <br>
    </div>
<table class="table table-dark table-hover">
    <tbody>
    <tr *ngFor="let medical of medicalstores | filter:searchText">
                
         <td [routerLink]="['/admin/medical/details/',medical._id]"> {{medical.medical_name}}</td>
    </tr>
</tbody> 
</table> 
</div>