<div class="container">
    <h2>List of Hospitals</h2>
    <button type="button" class="btn btn-success" (click)="NewHospital()">New Hospital</button>
    <br>
    <br>
    <div class="search-users">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Search for any Hospital by name ">
        <br>
    </div>
<table class="table table-dark table-hover">
    <tbody>
    <tr *ngFor="let hospital of hospitals | filter:searchText">
                
         <td [routerLink]="['/admin/hospital/details/',hospital._id]"> {{hospital.hospital_name}}</td>
    </tr>
</tbody> 
</table> 
</div>