<div class="container">
    <h2>Patient Details</h2>
    <table class="table">
      <tr>
        <td>
        <button type="button" class="btn btn-dark" (click)="NewCase()">New Case</button>
      </td>
    <td>
        <button type="button" class="btn btn-dark" (click)="ViewCases()">View Cases</button>
      </td>
      </tr>
  </table>
    <br>
    <br>
    <!-- <p>The .table-striped class adds zebra-stripes to a table:</p>             -->
    <table class="table table-dark">
    
        <tr>
          <th>First Name</th>
            <td>{{patientDetails.first_name}}</td>
        </tr>

        <tr>
          <th>Last Name</th>
            <td>{{patientDetails.last_name}}</td>
        </tr>

        <tr>
          <th>Father Name</th>
            <td>{{patientDetails.father_name}}</td>
        </tr>

        <tr>
          <th>Mother Name</th>
            <td>{{patientDetails.mother_name}}</td>
        </tr>
          
        <tr>
          <th>Age</th>
            <td>{{patientDetails.age}}</td>
        </tr>

        <tr>
          <th>Gender</th>
            <td>{{patientDetails.gender}}</td>
        </tr>

        <tr>
          <th>Contact Number</th>
            <td>{{patientDetails.contact_number}}</td>
        </tr>

        <tr>
          <th>Emergency Contact Number</th>
            <td>{{patientDetails.emergency_contact_number}}</td>
        </tr>

        <tr>
          <th>Email Address</th>
            <td>{{patientDetails.email}}</td>
        </tr>
   
    </table>
 
 
 
</div>