<div class="container">
        <h2>User Details</h2>
        <!-- <p>The .table-striped class adds zebra-stripes to a table:</p>             -->
        <table class="table table-dark">
        
            <tr>
              <th>First Name</th>
                <td>{{userDetails.first_name}}</td>
            </tr>

            <tr>
              <th>Last Name</th>
                <td>{{userDetails.last_name}}</td>
            </tr>

            <tr>
              <th>Father Name</th>
                <td>{{userDetails.father_name}}</td>
            </tr>

            <tr>
              <th>Mother Name</th>
                <td>{{userDetails.mother_name}}</td>
            </tr>
              
            <tr>
              <th>Age</th>
                <td>{{userDetails.age}}</td>
            </tr>

            <tr>
              <th>Gender</th>
                <td>{{userDetails.gender}}</td>
            </tr>

            <tr>
              <th>Contact Number</th>
                <td>{{userDetails.contact_number}}</td>
            </tr>

            <tr>
              <th>Emergency Contact Number</th>
                <td>{{userDetails.emergency_contact_number}}</td>
            </tr>

            <tr>
              <th>Email Address</th>
                <td>{{userDetails.email}}</td>
            </tr>
       
        </table>
     
     
     
 </div>