<div class="container">
    <h2>List of Users</h2>
    <button type="button" class="btn btn-success" (click)="NewUser()">New User</button>
    <br>
    <br>
    <div class="search-users">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Search for any users by name ">
        <br>
    </div>
<table class="table table-dark table-hover">
    <tbody>
    <tr *ngFor="let user of users | filter:searchText">
         <td [routerLink]="['/admin/user/details/',user._id]"> {{user.first_name}} {{user.last_name}}</td>
    </tr>
</tbody> 
</table> 
</div>