<div class="container">
  <!-- <div class="example-button-row"> -->
    <!-- <table>
      <tr> -->
      <h1 class="h3 mb-3 font-weight-normal" >Admin Dashboard</h1>
      
    <button type="button" class="btn btn-dark " (click)="UsersList()">Users List</button>
    <br>
        <br>
    <button type="button" class="btn btn-dark " (click)="DoctorList()">Doctor List</button>
    <br>
        <br>
    <button type="button" class="btn btn-dark " (click)="HospitalList()">Hospital List</button>
    <br>
        <br>
    <button type="button" class="btn btn-dark " (click)="ClinicList()">Clinic List</button>
    <br>
        <br>
    <button type="button" class="btn btn-dark " (click)="MedicalStoreList()">Medical Store List</button>
    <!-- </div> -->
  <!-- </tr> -->
  <!-- </table> -->
  </div>