<div class="container">
    <h2>Medical Store Details</h2>
    
    <table class="table table-dark">
      
    
        <tr>
            <th>Medical Name</th>
            <td>{{medicalDetails.medical_name}}</td>
        </tr>

        <tr>
            <th>License Number</th>
            <td>{{medicalDetails.license_number}}</td>
        </tr>

        <tr>
            <th>Owner Name</th>
            <td>{{medicalDetails.owner_name}}</td>
        </tr>

        <tr>
            <th>Established Date</th>
            <td>{{medicalDetails.established_date | date}}</td>
        </tr>

        <tr>
            <th>Emergency Contact Number</th>
            <td>{{medicalDetails.emergency_contact_number}}</td>
        </tr>

        <tr>
            <th>Email Address</th>
            <td>{{medicalDetails.email}}</td>
        </tr>
   
        <tr>
            <th>Street</th>
            <td>{{medicalDetails.street}}</td>
        </tr>
   
        <tr>
            <th>City</th>
            <td>{{medicalDetails.city}}</td>
        </tr>
   
        <tr>
            <th>State</th>
            <td>{{medicalDetails.state}}</td>
        </tr>
   
        <tr>
            <th>Pincode</th>
            <td>{{medicalDetails.pincode}}</td>
        </tr>
   
        <tr>
            <th>Landmark</th>
            <td>{{medicalDetails.landmark}}</td>
        </tr>
   
      
        <a [href]="medicalDetails.medical_document" target="_blank">View Document PDF</a>
    </table>


 
</div>