<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form [formGroup]="NewCaseForm" (ngSubmit)="OnSubmit()">
          <h1 class="h3 mb-3 font-weight-normal">Add New Case</h1>    
           <hr>
          <h3 class="h4 mb-3 font-weight-normal">Case Information</h3>
          
          
          <!-- Disease Name -->
          <label for="disease_name"> Disease name</label>
          <input formControlName="disease_name" class="form-control" placeholder="Enter disease name or case title" type="text">
          <br>

          <!-- observation Summary -->
          <label for="disease_observation">Observations</label>
          <textarea formControlName="disease_observation" class="form-control" rows="3"> </textarea>
          <br>

          <!-- Lab Test Required -->
          <label> Lab Test Required</label>
          <div *ngFor="let cartoon of cartoonsData; let i = index">
            <input type="checkbox" (change)="onChange(i,$event)">
            {{ cartoon }}
          </div>
        <br>
        </form>

        <label for="medicine_name">Medicine Name</label>
        <input type="text" class="form-control" [(ngModel)]="medicine_name">

        <label for="">Medicine Dosage</label>
        <input type="text" class="form-control" [(ngModel)]="medicine_dosage">

        <label for="">Medicine Quantity</label>
        <input type="text" class="form-control" [(ngModel)]="medicine_quantity">
        <br>
        <button (click)="addMedicine()" class="btn btn-success">Add Medicine</button>
        
        <h2>Medicines List</h2>
        <table class="table bg-white text-dark">
          <tr>
            <th>Sr No.</th>
            <th>Medicine</th>
            <th>Dosage</th>
            <th>Quantity</th>
            <th>Delete</th>
            <!-- <th>isTaken</th> -->
            
          </tr>
          <tr *ngFor = "let medicine of NewCaseForm.get('medicines').value; let i = index">
          <!-- <tr *ngFor = "let medicine of NewCaseForm.get('medicines').value; let i = index"></tr> -->
            <td>{{ i+1 }}</td>
            <td>{{medicine.medicine_name}}</td>
            <td>{{medicine.medicine_dosage}}</td>
            <td>{{medicine.medicine_quantity}}</td>
            <td><button (click)="removeMedicine(i)" class="btn btn-danger">Delete</button></td>
          </tr>
        </table>
        
        

    

        <button type="button" (click)="OnSubmit()" class="btn btn-lg btn-primary btn-block">Add Case</button>
    </div>
  </div>
</div>