<div class="container">
    <h2>Case Details</h2>
    <!-- <p>The .table-striped class adds zebra-stripes to a table:</p>             -->
    <table class="table table-dark">
    
        <tr>
          <th>Case Name</th>
            <td>{{caseDetails.case_name}}</td>
        </tr>

        <tr>
          <th>Disease Name</th>
            <td>{{caseDetails.disease}}</td>
        </tr>

        <tr>
          <th>Body Temperature</th>
            <td>{{caseDetails.temp}}</td>
        </tr>
   
    </table>
 
 
 
</div>